.depend
*.o
__pycache__
dkvs-client
dkvs-launch-server
udp-test-client
udp-test-server
fake-dkvs-client*
dkvs-dump
dkvs-ping
dkvs-server
test-atouintN

*.xml
*.html
!index.html
*.jpg
tmp.txt
*.imgfs

LOG*
dkvs-dump-ring
